.button {
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
  border: none;
  color: dodgerblue;
  font-weight: 600;
  box-shadow: 0 4px 30px -10px rgba(0, 0, 0, 0.2) a {
    text-decoration: none;
    color: #000;
  }

  &:hover {
    transform: scale(1.1);
    color: #fff;
  }

  &:active {
    transform: scale(0.96);
  }
}
